{% extends "layouts/base.html" %}
{% load i18n admin_urls static %}

{% block extrahead %}
    {{ block.super }}
    {{ media }}
    <script type="text/javascript" src="{% static 'admin/js/cancel.js' %}"></script>
{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static "css/forms.css" %}">
{% endblock %}

{% block title %}Task delete{% endblock %}

{% block content %}
  <div class="row mt-5 mx-4">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="card-title">
            <p class="txt-left-dir">
              Are you sure you want to delete this task ?
            </p>
          </div>
        </div>
          <div class="card-body {{ direction.panel }}">
            <form method="post">
              {% csrf_token %}
              <div>
                <button type="submit" class="btn btn-sm btn-primary">
                    {% trans "Yes, I'm sure" %}
                </button>
                <a href="{% url 'task_system:task-detail' pk=task.id%}" class="btn btn-sm btn-warning">{% trans "No, take me back" %}</a>
              </div>
            </form>
          </div>
      </div>
    </div>
  </div>
{% endblock %}
